@media only screen and (max-width: 800px) {


    nav ul {
        
        position: absolute;
        top: 60px;
        left: 0;
        background: #fff;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
        z-index: 2;
    }


    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #b84ae4;

    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    

}