.form-container-rec{

    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);

}

form input{

    height: 30px;
    /* margin: 10px; */
    padding: 0 10px;
    border: 1px solid #ccc;

}